@import "../../variables.scss";
.card-container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;

  .card-group {
    background-color: $logo-background;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .relative-card-container {
      position: relative;

      .big-card {
        width: 450px;
        height: 350px;
        transition: 1s;
        position: relative;
        background-size: cover;
        box-shadow: -10px 10px 50px 5px black;
      }

      &:hover .card-one {
        position: absolute;

        rotate: 28deg;
        left: 250px;
        top: 45px;
        border-radius: 15px;
        z-index: 4;
        transition: 1s; /*  */

        .little-one {
          position: absolute;
          rotate: -20deg;
          transform: translate(150%, 450%);
          z-index: 2;
          transition: 1s;
        }
        .little-two {
          position: absolute;
          rotate: -30deg;
          transform: translate(200px, 0);
          z-index: 2;
        }
      }

      &:hover .card-two {
        position: absolute;

        rotate: 10deg;
        border-radius: 15px;
        left: 120px;
        z-index: 3;
      }

      &:hover .card-three {
        position: absolute;

        rotate: -5deg;
        border-radius: 15px;
        top: -15px;
        left: -130px;
        z-index: 2;

        .little-three {
          position: absolute;
          rotate: 17deg;
          transform: translate(-80px, -70px);
          z-index: 2;
        }
      }

      &:hover .card-four {
        position: absolute;
        background-color: yellow;
        rotate: -18deg;
        border-radius: 15px;
        left: -400px;
        top: 25px;
        z-index: 1;

        .little-four {
          position: absolute;
          rotate: 5deg;
          transform: translate(-50px, 300px);
          transition: 1;
        }
      }

      &:hover .little-card {
        opacity: 1;
      }

      .little-card {
        opacity: 0;
        width: 150px;
        height: 100px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .card-one {
        position: absolute;

        rotate: 4deg;
        border-radius: 15px;
        z-index: 4;
        transition: 1s;

        .little-one {
          position: absolute;
          rotate: -20deg;
          transform: translate(50%, 150%);
          z-index: 2;
        }

        .little-two {
          position: absolute;
          rotate: -30deg;

          transform: translate(50%, 150%);
          z-index: 2;
          transition: 1s;
        }
      }

      .card-two {
        position: absolute;

        rotate: -3deg;
        border-radius: 15px;
        left: -40px;
        z-index: 3;
      }

      .card-three {
        position: absolute;

        rotate: -2deg;
        border-radius: 15px;
        left: -80px;
        z-index: 2;

        .little-three {
          position: absolute;
          rotate: 17deg;
          transform: translate(50%, 150%);
          z-index: 2;
          transition: 1s;
        }
      }

      .card-four {
        position: absolute;

        rotate: 2deg;
        border-radius: 15px;
        left: -20px;
        top: -10px;
        z-index: 1;

        .little-four {
          position: absolute;
          rotate: 5deg;
          transform: translate(50%, 150%);
          transition: 1;
        }
      }
    }

    .scale-right {
      margin-left: 400px;
      margin-bottom: 100px;
      transform: scale(0.1);
      transition: 0.5s;
    }

    .scale-left {
      margin-right: 400px;
      margin-bottom: 100px;
      transform: scale(0.1);
      transition: 0.5s;
    }
  }
}
