@import "variables.scss";
* {
  margin: 0;
  padding: 0;
}

.home-page {
  // background-image: url("./images/vector1.svg");
  // background-size: calc(100vw - 20px);
  // background-position: 5% 270%;
  // background-repeat: no-repeat;
  background-color: $logo-background;

  .stars-container {
    background-image: url("./images/stars.svg");
    background-repeat: no-repeat;

    .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding-top: 5rem;

      h1 {
        font-size: 64px;
        font-weight: 700;
        color: white;
        font-style: italic;
        text-align: center;
      }

      p {
        text-align: center;
        color: white;
        font-family: Roboto;
        font-size: 24px;
        line-height: 24px;
        max-width: 550px;
        margin-bottom: 3rem;
        z-index: 1;
      }

      button {
        @include contactBTN;
        z-index: 2;
      }
    }

    .moon {
      z-index: 0;
      position: absolute;
      right: 70px;
      top: 300px;
    }

    .services {
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: italic;
      font-size: 48px;
      color: white;
      margin-top: 5rem;
    }
    .vectorImg {
      display: flex;
      justify-content: center;
    }
    .sound {
      z-index: 5;
      max-width: 1200px;
      margin: 0 auto;

      h3 {
        margin-top: 5rem;
        color: white;
        font-size: 32px;
        font-family: Roboto;
        font-weight: 600;
        z-index: 5;
      }

      p {
        font: Roboto;
        color: white;
        font-size: 18px;
        line-height: 24px;
        max-width: 850px;
        z-index: 3;
      }

      li {
        font: Roboto;
        color: white;
        font-size: 18px;
        line-height: 24px;
        margin-left: 2rem;
        z-index: 5;
      }

      .sound-images {
        margin: 2.5rem 0;
        display: flex;
        gap: 1rem;
        z-index: 5;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        @include contactBTN;
        margin: 0 auto;
      }

      .photobooth {
        margin-bottom: 10rem;
      }
    }
  }
  .vector-group {
    // background-image: url("./images/vector1.svg");

    position: absolute;
    top: 650px;
    z-index: 0;

    img {
      position: absolute;
      width: calc(100vw - 20px);
      z-index: 0;
    }
    :nth-of-type(1) {
      z-index: 0;
      margin-top: 10px;
    }
    :nth-of-type(2) {
      z-index: 0;
      margin-top: 20px;
    }
    :nth-of-type(3) {
      z-index: 0;
      margin-top: 30px;
    }
    :nth-of-type(4) {
      z-index: 0;
      margin-top: 40px;
    }
    :nth-of-type(5) {
      z-index: 0;
      margin-top: 50px;
    }
    :nth-of-type(6) {
      z-index: 0;
      margin-top: 0px;
    }
  }

  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }

  .events {
    margin-top: 8rem;
    background-image: url("./images/events.jpg");
    width: calc(100vw - 20px);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;

    .event-title {
      color: white;
      font-size: 48px;
      font-style: italic;
    }

    .pictures-container {
      margin-top: 5rem;
      display: flex;
      max-width: 1200px;
    }
  }

  .fun {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    max-width: 1200px;
    margin: 0 auto;
    height: 600px;

    @keyframes growBorder {
      0% {
        width: 100px;
      }
      25% {
        width: 150px;
      }
      50% {
        width: 200px;
      }
      75% {
        width: 250px;
      }
      100% {
        width: 300px;
      }
    }

    .fun-container {
      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        color: white;
        font-size: 32px;
        font-style: italic;
      }

      span {
        width: 100px;
        height: 2px;
        background: $rainbow-gradient;
        transition: 1s;
        margin-bottom: 2rem;
      }

      p {
        color: white;
      }

      button {
        @include contactBTN;
        width: 200px;
        margin-top: 3rem;
      }
    }
  }
}
